[Desktop Entry]
Encoding=UTF-8
Name[ru]=Просмотр видео с ex.ua
Name=Watch video from ex.ua
Icon=Animation.xpm
Comment=Watch video from ex.ua
Exec=exua_viewer_gui
Terminal=false
Type=Application
Categories=AudioVideo
GenericName=exua_viewer